body {
    background-color: grey;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    flex-grow: 1;
    margin: 20px auto;
}

.checkout-header {
    text-align: center;
    margin-bottom: 40px;
}

.checkout-header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    width: 900px;
}

.checkout-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px
}

.checkout-summary .total {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #45a049;
}
